.transactionCard {
    background: var(--background-800);
    border: 1px solid var(--background-700);
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: default;
    color: var(--text-100);
    display: flex;
    padding-left: 1.5rem;
    margin-bottom: 0.8rem;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.transactionCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}

.transactionTitle {
    font-size: 1.25rem;
    color: var(--text-100);
    margin: 0;
    margin-top: 0.5rem;
    vertical-align: middle;
}

.transactionDate {
    font-size: 0.875rem;
    color: var(--text-400);
    position: relative;
    top: 0px;
}

.transactionActions {
    display: flex;
    align-items: center;
    margin: 0.8rem;
}

.transactionButton {
    background-color: var(--secondary-700);
    color: var(--text-100);
    padding: 0.5rem;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
    vertical-align: middle;
    margin: 0.8rem;
}

.transactionButton:hover {
    background-color: var(--secondary-600);
}

.removeButton {
    background-color: var(--secondary-600);
}

.removeButton:hover {
    background-color: var(--secondary-500);
}

.transactionAmount {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    min-width: 80px;
    text-align: center;
    background-color: rgba(113, 124, 193, 0.2);
    color: var(--accent-400);
}

.transactionDescription {
    font-size: 1rem;
    color: var(--text-200);
    line-height: 1.5;
    display: flex;
    width: auto;
    word-break: break-all;
}
