.new_account_name {
    background-color: var(--secondary-300);
    color: var(--text-800);
    font-size: 15px;
    outline: none;
    border-color: transparent;
    height: 3.2vh;
}

.account_inputs {
    justify-content: left;
    margin: 0px 20px 0px 20px;
}

.new_account_buttons {
    display: flex;
    justify-content: center;
    column-gap: 0.5vw;
    margin-bottom: 10px;
}

.account_handle_button {
    min-width: fit-content;
    width: 4vw;
}

.newaccount_card {
    background-color: var(--background-900);
    border-radius: 10px;
    width: auto;
}

.errorMessage {
    font-size: 16px;
    color: rgb(156, 60, 60);
    text-align: center;    
    font-family: "Righteous", sans-serif;
    padding: 10px;
}
