@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#content {
    display: flex;
}

#first-half {
    min-width: 43vw;
    max-width: 43vw;

    border-right: 1px solid var(--accent-200);
}

#second-half {
    min-width: 44vw;
    max-width: 44vw;
}

#upper-box {
    height: 50vh;
    max-height: 50vh;
    
    border-bottom: 1px solid var(--accent-200);

    overflow-y: scroll;
} 

.box-title {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 10px;
}

#inner-upper-box {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    row-gap: 2vw;
    column-gap: 4vh;

    align-items: center;
}