.content {
    display: flex;
    flex-direction: row;
}

.first_half {
    min-width: 43vw;
    max-width: 43vw;

    border-right: 1px solid var(--accent-200);

    overflow-y: auto;
}

.inner_box_first_half {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    column-gap: 1vw;
    row-gap: 2vh;
}

.second_half {
    min-width: 44vw;
    max-width: 44vw;
}

.upper_box {
    height: 50vh;
    max-height: 50vh;
    
    border-bottom: 1px solid var(--accent-200);

    overflow-y: auto;
} 

.lower_box {
    height: 50vh;
    max-height: 50vh;

    overflow-y: auto;
}

.box_title {
    color: white;
    font-family: "Righteous", sans-serif;
    font-size: 15px;
    padding: 12px;
    margin-bottom: 10px;
}

.inner_upper_box {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    row-gap: 2vw;
    column-gap: 4vh;

    align-items: center;
}

.inner_lower_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2vw;
    column-gap: 4vh;
    align-items: center;
}