.goalCard {
    border-radius: 15px;

    min-width: 300px;
    max-width: 400px;

    border: 2px solid var(--accent-600);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-50);
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.description {
    font-size: 0.95rem;
    color: var(--text-300);
    margin-top: 0.5rem;
}

.progressSection {
    margin-top: 1rem;
}

.progressBarContainer {
    width: 100%;
    height: 10px;
    background-color: var(--accent-100);
    border-radius: 5px;
    overflow: hidden;
}

.progressBar {
    height: 100%;
    background-color: var(--accent-500);
    transition: width 0.4s ease-in-out;
}

.progressText {
    margin-top: 0.25rem;
    font-size: 0.85rem;
    color: var(--text-200);
}

.accountText {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--text-100);
}

.accountSelect {
    margin-left: 0.5rem;
    background-color: var(--background-700);
    color: var(--text-50);
    border: 1px solid var(--accent-200);
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.85rem;
}

.accountSelect:focus {
    outline: none;
    border-color: var(--accent-400);
}

.finishButton {
    display: block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition: background-color 0.3s ease;
    width: 100%;
}

.select_account {
    background-color: var(--background-700);
    color: var(--text-50);
    border: 1px solid var(--accent-200);
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.85rem;
    margin-left: 0.3rem;
}

.account_option {
    background-color: var(--background-800);
    color: var(--text-50);
}

.select_account:focus {
    outline: none;
    border-color: var(--accent-400);
}

.attachedAccount {
    padding: 5px;
}

.attachedAccount:hover {
    cursor: pointer;
    background-color: var(--background-700);
    border-radius: 10px;
}